<div class="text-block">
    <br />
    PCHouse является развивающейся компанией в сфере продажи электроники и компьютерной техники.
    <br />
    PCHouse предалагает выгодные цены без переплат! Компания находится на рынке с середины 2023 года и уже успела обзавестись достаточно широкой аудиторией, и продолжает аккумулировать её всё больше и больше!
</div>
<div class="text-block">
    <h4>Платежи через надёжный сервис</h4>
    Все платежи проводятся через WebsterPay.ru – надежный сервис, для работы с которым магазин обязан предоставлять свою регистрационную документацию.
    <br />
    <br />
    <h4>Множество способов оплаты</h4>
    Вы можете выбрать тот вариант оплаты, который считаете максимально удобным и надежным. Банковская карта, СБП, оплата в кредит или рассрочку – решайте сами!
    <br />
    <br />
    <h4>Техническая поддержка</h4>
    При возникновении любых затруднений наши клиенты могут обратиться в службу сервисной поддержки. Время работы - круглосуточно.
    <br />
    <br />
<h4>Для связи с нами:</h4>
    <i class="fa fa-envelope-o"></i> pchouse&#64;mail.ru
    <br />
    <i class="fa fa-phone"></i> +7 919-034-94-00
</div>