<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black">Собираем ваш заказ...</p>
</ngx-spinner>


<div class="section" *ngIf="cartTotal > 0">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <div class="col-md-7">
        <!-- Billing Details -->
        <form #billingForm="ngForm" (ngSubmit)="formSubmit()">
          <div class="billing-details">
            <div class="section-title">
              <h3 class="title">Адрес доставки</h3>
            </div>
            <div class="form-group">
              <input class="input" type="text" name="first-name" placeholder="Имя" [(ngModel)]="model.firstName" #firstName="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="last-name" placeholder="Фамилия" [(ngModel)]="model.lastName" #lastName="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="email" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="address" placeholder="Адрес" [(ngModel)]="model.address" #address="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="city" placeholder="Город" [(ngModel)]="model.city" #city="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="country" placeholder="Страна" [(ngModel)]="model.country" #country="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="text" name="zip-code" placeholder="Индекс" [(ngModel)]="model.zip" #zip="ngModel">
            </div>
            <div class="form-group">
              <input class="input" type="tel" name="tel" placeholder="Телефон" [(ngModel)]="model.phone" #phone="ngModel">
            </div>
            <!-- <div class="form-group">
              <div class="input-checkbox">
                <input type="checkbox" id="create-account">
                <label for="create-account">
                  <span></span>
                  Создать аккаунт?
                </label>
                <div class="caption">
                  <p></p>
                  <input class="input" type="password" name="password" placeholder="Введите ваш пароль">
                </div>
              </div>
            </div> -->
          </div>
          <!-- <div class="form-group">
            <button type="submit" class="btn btn-warning btn-lg" [disabled]="billingForm.invalid || billingForm.pending">Отправить форму</button>
          </div> -->
        </form>

        <!-- /Billing Details -->

        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input" placeholder="Детали заказа"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Ваш заказ</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>Товар</strong></div>
            <div><strong>Общее</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let c of cartData.data">
              <div>{{c.numInCart}} x {{c.product.name}}</div>
              <div>{{(c.product.price * c.numInCart) | currency:'&#x20bd;'}}</div>
            </div>

          </div>
          <div class="order-col">
            <div>Доставка</div>
            <div><strong>БЕСПЛАТНО</strong></div>
          </div>
          <div class="order-col">
            <div><strong>Всего</strong></div>
            <div><strong class="order-total">{{cartTotal | currency:'&#x20bd;'}}</strong></div>
          </div>
        </div>

        <div class="input-checkbox">
          <input type="checkbox" id="terms">
          <label for="terms">
            <span></span>
           Я прочитал и согласен с <a href="#">правилами и условиями</a>
          </label>
        </div>
        <button class="btn btn-outline-danger btn-lg my-2 btn-block order-submit"
                (click)="onCheckout()"
                [disabled]="cartTotal <= 0"
                [class.disabled]="cartTotal<=0"
        >Создать заказ</button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0;">
  <h4>Ваша корзина пуста</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">Перейти в магазин</button>
</div>
